body {
    margin: 0px;
}

.startButton {
	background: -moz-linear-gradient(top, #eff, #eff 50%, #cef);
    background: -webkit-gradient(linear, left top, left bottom, from(#eff), color-stop(0.5, #eff), to(#cef));
	font-weight:bold;
	font-size:22px;
	color: #26f;
	/* 角丸の指定 */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.pointRankingButton {
    background: -moz-linear-gradient(top, #fee, #fee 50%, #fcc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fee), color-stop(0.5, #fee), to(#fdd));
    font-weight:bold;
    font-size:22px;
    color: #ff6666;
    /* 角丸の指定 */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}


a div.draft {
    width: 140px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    color: #0066ff;
    background: #eeffff;
    text-decoration: none;
    /* 角丸の指定 */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

a div.sealed {
    width: 140px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    color: #00cc00;
    background: #eeffee;
    text-decoration: none;
    /* 角丸の指定 */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

a div.chat {
    width: 140px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    color: #aa3300;
    background: #ffeedd;
    text-decoration: none;
    /* 角丸の指定 */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

a div:hover{
    background: #ffee00;
}


.chatCell0 {
    background-color: #fcfcfc;
    padding: 5px;
    margin: 3px;
    text-align: left;
}

.chatCell1 {
    background-color: #f3f3f3;
    padding: 5px;
    margin: 3px;
    text-align: left;
}

.chatCellName {
    font-size: 90%;
    vertical-align: middle;
}

.chatCellTime {
    font-size: 70%;
    margin: 0px 10px;
}

.chatCellId {
    font-size: 70%;
    font-style: italic;
    margin: 0px 5px;
}

.chatCellBody {
    margin: 0px 30px;
}

.chatCellDelete {
    float: right;
}

