@charset "utf-8";

h4.cardname span a.cardlink {
  font-weight: bold;
}

div.mana, div.type {
  margin: 10px 0 0 20px;
  padding: 0;
}

div.poto {
  margin: 5px 0 0 20px;
  padding: 0;
}

div.text, div.sets {
  margin: 10px 15px 0 20px;
  padding: 0;
}

#main hr {
  margin: 10px 0 0 0 !important;
}