/*------------------------------------------
8 item list
------------------------------------------*/


/* 8.1 icon */
.icon{
    position: absolute;
    left:-10px;
    top:55px;
    font-size: 10px;
}
.icon p{
    margin-top:-5px;
    position: relative;
}
.icon p:nth-of-type(1){z-index: 4}
.icon p:nth-of-type(2){z-index: 3}
.icon p:nth-of-type(3){z-index: 2}
.icon p:nth-of-type(4){z-index: 1}
.icon p.iconNew{
}
.icon p.iconPrice{
}
.icon p.iconRefill{
}
.moreLink{
    margin:15px 0;
    float: right;
    background: #3A3C3B;
    padding:5px 15px 5px 25px;
    color: white;
    position: relative;
}
.moreLink:before{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:10px;
    margin:auto 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 7px solid white;
}

/* 8.2 soldout */
.soldout{
    position: absolute;
    background-color: white;
    opacity: 0.6;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5
}
.soldout p{
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    line-height: 24px;
    height: 24px;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}


/* 8.3 line item list */
.itemListLine{
    font-size: 0;
    text-align: center;
}
.itemListLine li{
    font-size: 11px;
    display: inline-block;
    width: 105px;
    height: 226px;
    vertical-align: top;
    padding:10px;
    margin:5px;
    text-align: left;
    color: #333;
    position: relative;
    background: #f2f2f2;
    -o-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    border:0;
}
.itemListLine li:hover{
    background:#ffc;
}
.itemListLine .itemImg{
    width: 100px;
    height: 120px;
    position: relative;
    margin:0 auto 10px;
}
.itemListLine .itemImg img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    backface-visibility: hidden; 
}
.itemListLine .itemName{
    line-height: 16px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 15px;
}
.itemListLine .itemStock{
    margin-bottom: 6px;
}
.itemListLine .itemPrice{
    font-size: 14px;
    color:#b00;
}


/* 8.4 row item list */
#forRank{
    font-size: 0;
    text-align: center;
}
.itemListHeader{
    font-size: 16px;
    border-bottom: 2px solid;
    padding:5px 0px 5px 10px;
    text-align: left;
}
.itemListHeader:after{
    content: "";
    clear: both;
    display: block;
}
.itemListHeader h3{
    line-height: 22px;
    float: left;
}
.itemListHeader .moreLink{
    float: right;
    margin:0;
    font-size: 12px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5b3b8+0,5a5657+100 */
    background: rgb(181,179,184); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(181,179,184,1) 0%, rgba(90,86,87,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(181,179,184,1) 0%,rgba(90,86,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(181,179,184,1) 0%,rgba(90,86,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b3b8', endColorstr='#5a5657',GradientType=0 ); /* IE6-9 */
}
.listRow{
    display: inline-block;
    width: 210px;
    border:2px solid;
    margin:0 8px 40px;
}
.itemListRow{
    font-size: 0;
    text-align: center;
}
.itemListRow li{
    font-size: 11px;
    padding:5px;
    height: 70px;
    overflow: hidden;
    border-bottom:1px solid #333;
}
.itemListRow a:nth-last-of-type(1) li{
    border-bottom: 0;
}
.itemListRow li:after{
    content: "";
    display: block;
    clear: both;
}
.itemListRow .itemImg{
    width: 80px;
    position: relative;

}
.itemListRow .itemImg img{
    max-width: 100%;
    float: left;
    margin-right: 10px;
}
.itemListRow .itemName{
    line-height: 16px;
    height: 64px;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: left;
    color: #333;
}


/* 8.5 special item list */
.itemListSpecial{
    text-align: center;
    font-size: 0;
}
.itemListSpecial li{
    display: inline-block;
    border:1px solid;
    color: #333;
    width: 320px;
    height: 150px;
    margin:0px 5px 20px;
    text-align: left;
    font-size: 12px;
    box-sizing: border-box;
    padding:10px;
    background: white;
    position: relative;
}
.itemListSpecial .itemImg{
    height: 100%;
    width: 90px;
    float: left;
    position: relative;
    margin-right: 15px;
}
.itemListSpecial .itemImg img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
}
.itemListSpecial .itemName{
    line-height: 18px;
    height: 72px;
    overflow: hidden;
    margin-bottom: 15px;
}
.itemListSpecial .itemStock{
    margin-bottom: 6px;
}
.itemListSpecial .itemPrice{
    font-size: 14px;
    color:#b00;
}
.itemListSpecial a:nth-of-type(3) li,
.itemListSpecial a:nth-of-type(4) li,
.itemListSpecial a:nth-of-type(5) li{
    width: 210px;
    height: 100px;
    margin: 0 5px; 
    padding:5px; 
    font-size: 11px;
    line-height: 16px;
}
.itemListSpecial a:nth-of-type(3) .itemImg,
.itemListSpecial a:nth-of-type(4) .itemImg,
.itemListSpecial a:nth-of-type(5) .itemImg{
    width: 62px;
    margin-right: 10px;
}
.itemListSpecial a:nth-of-type(3) .itemName,
.itemListSpecial a:nth-of-type(4) .itemName,
.itemListSpecial a:nth-of-type(5) .itemName{
    height: 48px;
    line-height: 16px;
    margin-bottom:8px;
}
.itemListSpecial a:nth-of-type(3) .itemStock,
.itemListSpecial a:nth-of-type(4) .itemStock,
.itemListSpecial a:nth-of-type(5) .itemStock{
    margin-bottom: 0;
}
.itemListSpecial a:nth-of-type(3) .icon,
.itemListSpecial a:nth-of-type(4) .icon,
.itemListSpecial a:nth-of-type(5) .icon{
    position: absolute;
    left:-10px;
    top:50px;
}
.itemListSpecial a:nth-of-type(3) .icon p,
.itemListSpecial a:nth-of-type(4) .icon p,
.itemListSpecial a:nth-of-type(5) .icon p{

}

/* 8.6 history item list */
#history{
    margin-bottom: 40px;
}
.itemListHistory{
    text-align: left;
    font-size: 0;
}
.itemListHistory li{
    display: inline-block;
    width:75px;
    height: 105px;
    margin:20px;
    position: relative;
}
.itemListHistory li img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}


/* 8.7 slide item list */
.overLayer{
    margin:0 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 222px;
}
.overLayer .itemListLine{
    text-align: left;
    white-space: nowrap;
    position: absolute;
}
.overLayer .itemListLine li{
    white-space: normal;
    height: 200px;
}
.overLayer .itemListLine .itemName{
    line-height: 18px;
    height: 72px;
    overflow: hidden;
    margin-bottom: 15px;
}
.slideLeftButton{
    position: absolute;
    left: 0;
    bottom:100px;
    z-index: 10;
}
.slideRightButton{
    position: absolute;
    right: 0;
    bottom:100px;
    z-index: 10;
}

/*------------------------------------------
xx extra
------------------------------------------*/
.result_pagenum{
    float: none;
    text-align: right;
    font-size: 14px;
}
#category_item{
    padding-bottom:20px;
}
#popupProduct #cartNum{
    height: inherit;
    margin: 0 6px 0 0;
}
.formlist_ tr,
.formlist_ th,
.formlist_ td{
    vertical-align: middle;
}
table.cartlist_ td.qty_ *{
    vertical-align: middle;
}
div.info_, table.info_{
    margin:20px auto;
}
/*------------------------------------------
以下カート用追加CSS
------------------------------------------*/
#cartRecommend,
#mypageRecommend{
    position: relative;
    margin-bottom: 60px;
}
#cartRecommend h2,
#mypageRecommend h2{
    font-size: 16px;
    border-bottom: 1px solid;
    color:#ea5404;
    padding:5px;
    text-align: left;
    margin-bottom:30px;
}
#cartRecommend .overLayer,
#mypageRecommend .overLayer{
    margin:0 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 227px;
}
#cartRecommend .itemListLine,
#mypageRecommend .itemListLine{
    text-align: left;
    white-space: nowrap;
    position: absolute;
}
#cartRecommend .itemListLine li,
#mypageRecommend .itemListLine li{
    white-space: normal;
    height: 200px;
    width: 100px;
    border:1px solid;
    background: white;
}
.slideLeftButton{
    position: absolute;
    left: 0;
    bottom:100px;
    z-index: 10;
}
.slideRightButton{
    position: absolute;
    right: 0;
    bottom:100px;
    z-index: 10;
}
#category_item{
    border-radius: 0;
}
#category_item .itemListLine{
    text-align: left;
}
.inner_box label{
    margin:3px 20px 0 0;
}
.autopagerize_page_element .itemListLine{
    text-align: left;
}
#block_of_itemhistory{
    border:none;
}
#deck_erea>div{
    clear: both;
}
/*-------------------------------
危険なお試しCSS
フッタがめり込んだりしたら消せ
-------------------------------*/
div.contents_:after,
div.container_:after{
    content:none;
}
div.container_,
div.contents_{
    float: none;
}
div.rightmenuframe_{
    float: right;
    width: 700px;
    margin-bottom: 40px;
}
#block_of_itemhistory{
    background-color: transparent;
}
#block_of_itemhistory #checked_line{
    width: auto;
    padding:0;
    background-color: transparent;
}
#item_info{
    border-radius: 0;
    line-height: 140%;
}
#item_detail_recommend{
    line-height: 130%;
}
#decks #deck_erea{
    line-height: 100%;
}
/*-------------------------------
各種イベントヘッダの見出し
-------------------------------*/
.commonEventTitle{
    border-bottom: 1px solid;
    padding: 20px 5px 5px;
    margin-bottom: 20px;
    /* color: #B9080E; */
}

#jscart_replace_{
    position: relative;
}
.cartOver{
    top:32px;
}
.cart_on_box_{
    position: relative;
    top:0;
    padding:0;
}
.StyleR_Item .name1_{
    line-height: 130%;
}