@charset "UTF-8";
.outer_box{
	float:right;
	width:700px;
}
.kuzu{
	text-align:left;
}
.search_h {
	text-align:left;
	position: relative;
	font-size:25px;
	color:#EA5404;
	padding-left:30px;
	margin:30px 10px;
}
.result_box{
	border:1px #EA5404 solid;
	border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	box-shadow: 3px 3px  rgba(0,0,0,0.4);

	width:695px;
	font-size:18px;
	margin-bottom:30px;
	text-align:left;
}
.result_msg{
	font-weight:bold;
	font-size:18px;
	padding:25px 0 10px 20px ;
}
.result_second{
	background:#fed;
	padding:5px 20px;
	font-size:12px;
}
.result_second:after{
	content: "";
	clear: both;
	display: block;
}
.result_num{
	font-size:26px;
}
.result_sort{
	float:left;
	padding:5px 10px 5px 0;
}
.result_pagenum{
	float:right;
	padding:5px 0;
}
.result_pagenum_num{
	font-size:16px;
	font-weight:bold;
}
.result_third{
	background:#feebbf;
	padding:10px 19px;
	overflow: hidden;
	border-radius: 0 0 10px 10px; 
	-webkit-border-bottom-right-radius: 10px;  
    -webkit-border-bottom-left-radius: 10px;  
    -moz-border-radius-bottomright: 10px;  
    -moz-border-radius-bottomleft: 10px;  
}
.result_fourth{
	font-size:12px;
	float:right;
	padding:15px 20px 10px;
}
.result_fourth_page_now{
	font-size:18px;
	font-weight:bold;
	margin-left:10px;
}
.search_h:before{
	content: "";
    position: absolute;
    background: #EA5404;
    top: 30%;
	left:0;
    margin-top :-10px;
    height: 25px;
    width: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.inner_box{
	border:1px #EA5404 solid;
	border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.4);
	padding:30px 20px;
	width:658px;
	font-size:16px;
	margin-bottom:30px;
	background-color:#fff;
	text-align:center;
}
.input_box,.input_box_type{
    float:left;
	padding-right:20px;
}
.input_box_type{
	font-size:14px;
}
.inner_box:after{
	content: "";
	clear: both;
	display: block;
}
.outer_box:after{
	content: "";
	clear: both;
	display: block;
}
.search_detail{
	border:1px #EA5404 solid;
	border-collapse:collapse;
	margin-bottom:30px;
	text-align:left;
	width:100%;
}
.search_detail tr{
	border:1px #EA5404 dotted;
}
.search_detail th{
	background:#feebbf;
	padding:10px;
	width:140px;
}
.search_detail td{
	padding:10px;
	line-height:30px;
}
.search_detail input[type=radio],input[type=checkbox],input[type=text]{
	border:1px #EA5404 solid;

}
.search_detail input[type=text]{
	float:left;
	margin-right:10px;
	width:280px;
}
.search_detail input[type="radio"]:checked:before {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    margin: -4px 0 0 -4px;
    -webkit-border-radius:10px / 10px;
    content: "";
    width: 9px;
    height: 9px;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#EA5404),
        to(#EA5404)
    );
}
.search_detail input[type="checkbox"]:checked:before {
    position: absolute;
    left: 1px;
    top: 15px;
    display: block;
    content: "";
    width: 10px;
    height: 4px;
    background: #EA5404 !important;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: right center;
}
.search_detail input[type="checkbox"]:checked:after {
    display: block;
    position: absolute;
    left: 9px;
    top: 15px;
    content: "";
    width: 16px;
    height: 4px;
    background: #EA5404 !important;
    -webkit-transform: rotate(-53deg);
    -webkit-transform-origin: left center;
}
.search_detail input[type=text]{
	border-radius: 0px; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
	margin:0 30px 0 0;
	height:32px;
	padding:0 0 0 7px
}
.search_detail select{
	border:1px #EA5404 solid !important;
	border-radius: 0px; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
	height:32px;
}
.select_radio span,.select_radio_type span{
	margin-right:20px;
}
.select_radio_type{
	margin-right:20px;
	float:right;
}
.onlinesearch_button{
	float:none;
	background:#EA5404;
	color:#ffffff;
	border:0px;
	border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	padding:5px 15px 5px 18px;
	font-size:40px;
	letter-spacing: 5px;
	width:300px;
	height:60px;
}

#category_item{

	margin-bottom:20px
}

.search_detail input[type="radio"], .search_detail input[type="checkbox"] {
box-shadow: 0px 0px;
-webkit-box-shadow:0px 0px;
display:none;
}

input#or_type{
	margin-left: 350px;
}
.search_detail label{
	padding-left:24px;
	position:relative;
	line-height:30px;
}
.search_detail input[type="radio"] + label:before{
	content:"";
	width:22px;
	height:22px;
	background-image:url("../img/search/checkbox_icons.png");
	background-position:22px 0px;
	position:absolute;
	left:0;
	top:0;
}
.search_detail input[type="radio"]:checked + label:before{
	background-position:44px 0px;
}
.search_detail input[type="checkbox"] + label:before{
	content:"";
	width:20px;
	height:20px;
	background-image:url("../img/search/checkbox_icons.png");
	background-position:64px 0px;
	position:absolute;
	left:0;
	top:3px;
	margin:auto;
}
.search_detail input[type="checkbox"]:checked + label:before{
	background-position:0px 0px;
}
label#instant{
	margin-right:90px;
}
label#artifact{
	margin-right:20px;
}
.search_color label:nth-last-of-type(3):after{
	content:"\A";
	display:block;
}
label#or_color, #color_type_1 + label{
	margin-left:-21px;
}
.search_rarity label:nth-of-type(3):after{
	content:"\A";
	display:block;
}
.search_rarity label:nth-of-type(3){
	margin-right:0;
}
.search_detail label{
	padding-bottom:0;
	margin:3px 20px 0 0px
}
