.mbWrapper{
	width:100%;
	overflow:hidden;
}
.mbWrapper,.mbWrapper h3,.mbWrapper th{
	font-size:18px;
	font-weight:bold;
}
.mbWrapper p{
	margin-bottom:20px;
	line-height:28px;
}
.mbWrapper tr{
	height:30px;
	vertical-align:top;
}
.mbHead{
	background:url(/img/mb2/ma2_top.png) no-repeat;
	height:320px;
	position:relative;
	z-index:5;
}
.mbMenu{
	position:absolute;
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform:rotate(-5deg);
	width:1000px;
	background:#383735;
	bottom:-12px;
	left:-25px;

}
.mbMenu ul{
	width:1000px;
	margin:auto;
	text-align:center;
	overflow:hidden;
}
.mbMenu:after,.mbInner:after{
	clear:both;
	content:"";
	display:block;
}
.mbMenu li{
	width:240px;
	display:inline-block;
	text-align:center;
	padding:15px 0;
	font-weight:bold;
	font-size:24px;
	line-height:24px;
	letter-spacing:1px;
	color:white;
	position:relative;
	z-index:0;
}
.mbMenu li:hover{
	color:#444;
}
.mbMenu li:after{
	content:"";
	-moz-transition:background,0.3s;
	-webkit-transition:background,0.3s;
	-o-transition:background,0.3s;
	-ms-transition:background,0.3s;
	transition:background,0.3s;
	border-radius:50px;
	width:0;
	height:0;
	box-shadow:0;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background:white;
	position:absolute;
	z-index:-1;
	opacity:0.9;
}
.mbMenu li:hover:after{
	content:"";
	position:absolute;
	top:0px;
	width:1px;
	height:1px;
	border-radius:30px;
	box-shadow:0 0 100px 100px #fff;
	left:0;
	right:0;
	margin:auto;
	background:white;
	z-index:-1;
}
#mbArea1{
	background:white;
	padding:90px 20px 10px;
	position:relative;
	z-index:4;
}
.mbHead:after,#mbArea1:after{
	content:"";
	width:980px;
	height:90px;
	z-index:-1;
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform:rotate(-5deg);
	position:absolute;
	bottom:-42px;
	left:-10px;
	background:white;
}
.mbHead:after{
	height:50px;
}

.mbLeft{
	float:left;
	margin-top:40px;
}
.mbWrapper p:nth-last-child(1){
	margin-bottom:0;
}
.mbImg{
	float:right;
	width:240px;
	margin-top:-60px;
}
.mbImg img{
	width:240px;
}
.mbImg p{
	font-size:12px;
	font-weight:normal;
	line-height:14px;
	margin-top:8px;
}
#mbArea2{
	background:url(/img/mb2/ma2_1.png) left #727171 no-repeat;
	padding:80px 30px 80px;
	z-index:3;
	color:white;
	text-align:right;
	position:relative;
	overflow:hidden;
	text-shadow:0 0 5px #000,0 0 5px #000;
}
.mbWrapper h3{
	position:relative;
	display:inline;
	margin-left:20px;
	line-height:30px;
}
.mbWrapper h3:before{
	content:"";
	position:absolute;
	width:5px;
	height:16px;
	border-radius:2px;
	left:-15px;
	top:0;
	bottom:2px;
	margin:auto;
	background-color:#444;
	box-shadow:0 0 5px #fff,0 0 5px #fff;
}
#mbArea2 h3:before{
	background-color:white;
	box-shadow:0 0 5px #000,0 0 5px #000;
}
#mbArea2:after,#mbArea4:after{
	content:"";
	width:980px;
	height:90px;
	z-index:-1;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform:rotate(5deg);
	position:absolute;
	bottom:-42px;
	left:-10px;
	background:#C9C9CA;
}
#mbArea3{
	background:url(/img/mb2/ma2_2.png) right -25px #C9C9CA no-repeat;
	padding:0px 40px 0 20px;
	z-index:3;
	text-shadow:0 0 5px #fff,0 0 5px #fff;
}
#mbArea4{
	text-align:right;
	background:url(/img/mb2/ma2_3.png) left #EEEEEF no-repeat;
	padding:80px 30px 80px;
	text-align:right;
	position:relative;
	overflow:hidden;
	z-index:2;
	text-shadow:0 0 5px #fff,0 0 5px #fff;
}
#mbArea4 table{
	border:2px #444 solid;
	float:right;
	text-align:left;
}
#mbArea4 th,#mbArea4 td{
	border:1px #444 solid;
	background:white;
	padding:10px;
}
#mbArea4:before{
	content:"";
	width:980px;
	height:90px;
	z-index:-1;
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform:rotate(-5deg);
	position:absolute;
	top:-42px;
	left:-10px;
	background:#C9C9CA;
}
#mbArea4:after{
	background:white;
}
#mbArea5{
	background:url(/img/mb2/ma2_4.png) right bottom white no-repeat;
	padding:0 30px 80px 20px;
	text-align:left;
	position:relative;
	overflow:hidden;
	z-index:1;
}
.mbMap{
	width:780px;
	padding-top:20px;
}
.mbMapImg{
	width:400px;
	float:left;
	margin-right:20px;
}
.mbMapImg img{
	width:400px;
}
.mbMapImg:hover{
	opacity:0.6;
}
.mbMap p{
	float:left;
}
.mbReturnTop p{
	position:relative;
	background:#898989;
	padding:10px;
	font-size:20px;
	color:white;
	text-align:center;
}
.mbReturnTop p:before{
	border:12px solid transparent;
	border-bottom:20px white solid;
	width:0;
	height:0;
	content:"";
	position:absolute;
	left:37%;
	bottom:17px;
}
.mbReturnTop a:hover{
	text-decoration:none;
}